In [8]:
!head -n 5 data/bsc5.dat

   1          BD+44 4550      3 36042          46           000001.1+444022000509.9+451345114.44-16.88 6.70  +0.07 +0.08         A1Vn               -0.012-0.018      -018      195  4.2  21.6AC   3
   2          BD-01 4525      6128569                       235956.2-010330000503.8-003011 98.33-61.14 6.29  +1.10 +1.02        gG9                 +0.045-0.060      +014V
   3 33    PscBD-06 6357     281285721002I         Var?     000013.0-061601000520.1-054227 93.75-65.93 4.61  +1.04 +0.89 +0.54   K0IIIbCN-0.5       -0.009+0.089 +.014-006SB1O < 17  2.5   0.0     3*
   4 86    PegBD+12 5063     87 917012004                   000033.8+125023000542.0+132346106.19-47.98 5.51  +0.90               G5III              +0.045-0.012      -002V?
   5          BD+57 2865    123 21085          61  V640 Cas 000101.8+575245000616.0+582612117.03-03.92 5.96  +0.67 +0.20         G5V                +0.263+0.030 +.047-012V          0.8   1.4      *

In [12]:
!tail -n 10 data/bsc_label.txt

 167-170  I4     km/s    RadVel   ? Heliocentric Radial Velocity
 171-174  A4     ---   n_RadVel  *[V?SB123O ] Radial velocity comments
 175-176  A2     ---   l_RotVel   [<=> ] Rotational velocity limit characters
 177-179  I3     km/s    RotVel   ? Rotational velocity, v sin i
     180  A1     ---   u_RotVel   [ :v] uncertainty and variability flag on RotVel
 181-184  F4.1   mag     Dmag     ? Magnitude difference of double, or brightest multiple
 185-190  F6.1   arcsec  Sep      ? Separation of components in Dmag if occultation binary.
 191-194  A4     ---     MultID   Identifications of components in Dmag
 195-196  I2     ---     MultCnt  ? Number of components assigned to a multiple
     197  A1     ---     NoteFlag [*] a star indicates that there is a note (see file notes)

In [36]:
import pandas as pd
col_def = pd.read_fwf('data/bsc_label.txt', header=None, colspecs=(
    (0,4),
    (5,9),
    (9,17),
    (17,23),
    (23,34)
))

In [37]:
col_def[:5]

      0   1    2    3     4
0   1.0   4   I4  ---    HR
1   5.0  14  A10  ---  Name
2  15.0  25  A11  ---    DM
3  26.0  31   I6  ---    HD
4  32.0  37   I6  ---   SAO

In [38]:
star_col_def = []
column_names = []
for _, (n1, n2, _, _, name) in col_def.iterrows():
    if not pd.isna(n1):
        star_col_def.append((int(n1)-1, int(n2)))
    else:
        star_col_def.append((int(n2)-1, int(n2)))
    column_names.append(name)

In [49]:
list(zip(star_col_def, column_names))

[((0, 4), 'HR'),
 ((4, 14), 'Name'),
 ((14, 25), 'DM'),
 ((25, 31), 'HD'),
 ((31, 37), 'SAO'),
 ((37, 41), 'FK5'),
 ((41, 42), 'IRflag'),
 ((42, 43), 'r_IRflag  *'),
 ((43, 44), 'Multiple *'),
 ((44, 49), 'ADS'),
 ((49, 51), 'ADScomp'),
 ((51, 60), 'VarID'),
 ((60, 62), 'RAh1900'),
 ((62, 64), 'RAm1900'),
 ((64, 68), 'RAs1900'),
 ((68, 69), 'DE-1900'),
 ((69, 71), 'DEd1900'),
 ((71, 73), 'DEm1900'),
 ((73, 75), 'DEs1900'),
 ((75, 77), 'RAh'),
 ((77, 79), 'RAm'),
 ((79, 83), 'RAs'),
 ((83, 84), 'DE-'),
 ((84, 86), 'DEd'),
 ((86, 88), 'DEm'),
 ((88, 90), 'DEs'),
 ((90, 96), 'GLON'),
 ((96, 102), 'GLAT'),
 ((102, 107), 'Vmag'),
 ((107, 108), 'n_Vmag    *'),
 ((108, 109), 'u_Vmag'),
 ((109, 114), 'B-V'),
 ((114, 115), 'u_B-V'),
 ((115, 120), 'U-B'),
 ((120, 121), 'u_U-B'),
 ((121, 126), 'R-I'),
 ((126, 127), 'n_R-I'),
 ((127, 147), 'SpType'),
 ((147, 148), 'n_SpType'),
 ((148, 154), 'r pmRA    *'),
 ((154, 160), 'r pmDE'),
 ((160, 161), 'n_Parallax'),
 ((161, 166), 'Parallax'),
 ((166, 170), 'RadVel'),
 ((170, 174), 'n_RadVel  *'),
 ((174, 176), 'l_RotVel'),
 ((176, 179), 'RotVel'),
 ((179, 180), 'u_RotVel'),
 ((180, 184), 'Dmag'),
 ((184, 190), 'Sep'),
 ((190, 194), 'MultID'),
 ((194, 196), 'MultCnt'),
 ((196, 197), 'NoteFlag')]

In [45]:
star_def = pd.read_fwf('data/bsc5.dat', header=None, colspecs=star_col_def)
star_def.columns = column_names

In [47]:
star_def.head()

,HR,Name,DM,HD,SAO,FK5,IRflag,r_IRflag *,Multiple *,ADS,...,RadVel,n_RadVel *,l_RotVel,RotVel,u_RotVel,Dmag,Sep,MultID,MultCnt,NoteFlag
0,1,NaN,BD+44 4550,3.0,36042.0,NaN,NaN,NaN,NaN,46.0,...,-18.0,NaN,NaN,195.0,NaN,4.2,21.6,AC,3.0,NaN
1,2,NaN,BD-01 4525,6.0,128569.0,NaN,NaN,NaN,NaN,NaN,...,14.0,V,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,33 Psc,BD-06 6357,28.0,128572.0,1002.0,I,NaN,NaN,NaN,...,-6.0,SB1O,<,17.0,NaN,2.5,0.0,NaN,3.0,*
3,4,86 Peg,BD+12 5063,87.0,91701.0,2004.0,NaN,NaN,NaN,NaN,...,-2.0,V?,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,NaN,BD+57 2865,123.0,21085.0,NaN,NaN,NaN,NaN,61.0,...,-12.0,V,NaN,NaN,NaN,0.8,1.4,NaN,NaN,*

In [87]:
class Star():
    """
    A class representing a star, with name, magnitude, right ascension (ra),
    declination (dec) and projected co-ordinates x,y calculated by a class
    method.
    """

    def __init__(self, name, mag, ra, dec):
        """
        Initializes the star object with its name and magnitude, and position
        as right ascension (ra) and declination (dec), both in radians.
        """
        self.mag = mag
        self.ra = ra
        self.dec = dec
        self.const = ""
        if not pd.isna(name):
            self.name = name
            if len(name) >= 3:
                self.const = name[-3:]
                self.name = name[:-3]
        else:
            self.name = ""
        self.name = self.name.strip()
        self.project_orthographic(0, 0)
                
    def project_orthographic(self, ra0, dec0):
        """
        Calculates, stores and returns the projected co-ordinates (x, y) of
        this star's position using an orthographic projection about the
        angular position (ra0, dec0).

        """

        delta_ra = self.ra - ra0
        self.x = math.cos(self.dec) * math.sin(delta_ra)
        self.y = math.sin(self.dec) * math.cos(dec0)\
             - math.cos(self.dec) * math.cos(delta_ra) * math.sin(dec0)
        return self.x, self.y
    
    def __repr__(self):
        return f"Name:{self.name},Const:{self.const},Mag:{self.mag},RA:{self.ra},DEC:{self.dec}"

In [88]:
import math

stars = []

for _, line in star_def.iterrows():
    if pd.isna(line['Vmag']):
        continue
    mag = float(line['Vmag'])
    # Right ascension (hrs, mins, secs), equinox J2000, epoch 2000.0
    ra_hrs, ra_min, ra_sec = [float(x) for x in (line['RAh'],
                                                 line['RAm'], line['RAs'])]
    # Declination (hrs, mins, secs), equinox J2000, epoch 2000.0
    dec_deg, dec_min, dec_sec = [float(x) for x in (str(line['DE-'])+str(line['DEd']),
                                                 line['DEm'], line['DEs'])]
    # Convert both RA and declination to radians
    ra = math.radians((ra_hrs + ra_min/60 + ra_sec/3600) * 15.)
    # NB in the Southern Hemisphere be careful to subtract the minutes and
    # seconds from the (negative) degrees.
    sgn = math.copysign(1, dec_deg)
    dec = math.radians(dec_deg + sgn * dec_min/60 + sgn * dec_sec/3600)

    # Create a new Star object and add it to the list of stars
    stars.append(Star(line['Name'], mag, ra, dec))

In [89]:
stars[:10]

[Name:,Const:,Mag:6.7,RA:0.02253656396637678,DEC:0.7893978762666021,
 Name:,Const:,Mag:6.29,RA:0.022092959448161555,DEC:-0.008779975764893698,
 Name:33,Const:Psc,Mag:4.61,RA:0.023278328898474365,DEC:-0.09961466705757636,
 Name:86,Const:Peg,Mag:5.51,RA:0.024870941840919196,DEC:0.2338062458518848,
 Name:,Const:,Mag:5.96,RA:0.027343491614577834,DEC:1.019912237223753,
 Name:,Const:,Mag:5.7,RA:0.027561657771077122,DEC:-0.8565203304162172,
 Name:10,Const:Cas,Mag:5.59,RA:0.02810707316232535,DEC:1.1204335058650041,
 Name:,Const:,Mag:6.13,RA:0.02885611029963958,DEC:0.5065187896128099,
 Name:,Const:,Mag:6.18,RA:0.029823313593453107,DEC:-0.40330195690458975,
 Name:,Const:,Mag:6.19,RA:0.0318668032593298,DEC:-0.3034497311432697]

In [137]:
[(s.x, s.y, s.mag) for s in stars if s.const=='Cas'][:5]

[(0.012233179030132931, 0.9002892284895923, 5.59),
 (0.02053099924751021, 0.8585102421274577, 2.27),
 (0.05096642393498952, 0.8815599130957448, 5.4),
 (0.054455996835144974, 0.9171953448756, 6.18),
 (0.08020581274079047, 0.8143406833077155, 4.73)]

In [142]:
import cv2

# Define the image size
image_width = 800
image_height = 600
color = (0,255,255)  # BGR color (red in this case)

def paint_stars(data):

    image = 255 * np.zeros((image_height, image_width, 3), dtype=np.uint8)
    
    max_x = max(item[0] for item in data)
    max_y = max(item[1] for item in data)
    min_x = min(item[0] for item in data)
    min_y = min(item[1] for item in data)
    
    mag_data = [item[2] for item in data]
    min_mag = np.percentile(data, 25)
    max_mag = np.percentile(data, 95)

    for x, y, mag in data:
        # Scale the (x, y) coordinates
        scaled_x = int((x-min_x)/(max_x-min_x) * image_width)
        scaled_y = int((y-min_y)/(max_y-min_y) * image_height)

        # Scale the magnitude to determine the radius
        mag = min(max(mag, min_mag), max_mag)
        scaled_mag = int((mag-min_mag)/(max_mag-min_mag)) * 4

        # Draw a filled circle on the image

        cv2.circle(image, (scaled_x, scaled_y), scaled_mag, 
                   color, -1)  # -1 for filled circle

    # Save or display the resulting image
    cv2.imshow("Result Image", image)
    cv2.waitKey(0)
    cv2.destroyAllWindows()

paint_stars([(s.x, s.y, s.mag) for s in stars if s.const=='Ori'])

In [123]:
print(list(set(s.const for s in stars)))

['', 'Pav', 'Psc', 'Boo', 'Cae', 'Dra', 'Mon', 'Oph', 'Tau', 'CVn', 'Vir', 'Ant', 'Tuc', 'Del', 'Lep', 'Peg', 'Pup', 'Phe', 'Aql', 'Lib', 'CMa', 'Hor', 'LMi', 'Hya', 'Sgr', 'Cet', 'Gru', 'Scl', 'Dor', 'Cep', 'CrA', 'UMi', 'Pyx', 'Pic', 'Hyi', 'Aps', 'Vul', 'Sex', 'Ret', 'TrA', 'Equ', 'Cen', 'Per', 'CMi', 'Oct', 'Tri', 'Cas', 'Col', 'Leo', 'Ser', 'Sct', 'Aur', 'Ind', 'Eri', 'Lyn', 'Com', 'Sco', 'Sge', 'Tel', 'CrB', 'Mic', 'Cam', 'Cir', 'Men', 'Crv', 'Cyg', 'UMa', 'Ara', 'And', 'Vel', 'Crt', 'Lyr', 'For', 'Vol', 'Cru', 'Her', 'Mus', 'Ari', 'Cnc', 'Lac', 'Cha', 'Nor', 'Cap', 'Lup', 'PsA', 'Ori', 'Gem', 'Car', 'Aqr']

In [141]:
paint_stars([(s.x, s.y, s.mag) for s in stars if s.const=='UMa'])

In [139]:
paint_stars([(s.x, s.y, s.mag) for s in stars if s.const=='Cas'])