# Comprehensions

Python comprehensions are concise ways to create new sequences (lists, sets, dictionaries) by performing operations on existing sequences. 
- They allow you to write compact and readable code to generate sequences based on certain conditions or transformations. 

There are three types of comprehensions in Python: list comprehensions, set comprehensions, and dictionary comprehensions.

## List comprehensions
List comprehensions provide a concise way to create new lists based on existing lists or other iterable objects.

Syntax: 

new_list = [expression for item in iterable if condition]

Where:
- expression: The operation or transformation to apply to each item.
- item: The element from the iterable that is being processed.
- iterable: The existing list, string, or any other iterable object.
- condition (optional): A condition that filters the elements based on a certain criteria.

Lets see some examples

In [ ]:
base_list = [1, 2, 3, 4, 5, 6, 7, 8]

In [ ]:
[x for x in base_list]

Lets apply some transformations

In [ ]:
[x ** 2 for x in base_list]

In [ ]:
[x > 5 for x in base_list]

We can create structured types inside the resultant list

In [ ]:
[(x, x**2) for x in base_list]

In [ ]:
[[x, x+1, x+2] for x in base_list]

In [ ]:
["<>" * x for x in base_list]

Filtering the results

In [ ]:
base_list

In [ ]:
[x for x in base_list if x > 4]

In [ ]:
[x for x in base_list if x % 2 == 0]

### Nested comprehensions
You can also nest comprehensions, where you every element you create using another comprehension

In [ ]:
[[v for v in range(x)] for x in base_list]

In [ ]:
[[row * col for col in range(1, 4)] for row in range(1, 4)]

In [ ]:
# Flattening a nested list
nested_list = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

[v for sublist in nested_list for v in sublist]

In [ ]:
# Creating a list of tuples
numbers = [1, 2, 3, 4, 5]
pairs = [(x, y) for x in numbers for y in numbers if x != y]
print(pairs)

## Dictionary Comprehensions
Dictionary comprehensions in Python allow you to create dictionaries in a concise and expressive manner. They follow a similar syntax to list comprehensions but produce dictionaries as their result.

Syntax:

new_dict = {key_expression: value_expression for item in iterable if condition}

Lets see some examples:

In [ ]:
values = [x for x in range(10)]
values

In [ ]:
{x: 0 for x in values}

In [ ]:
{x: x**2 for x in values}

In [ ]:
{(x, x % 2 == 0): (x, x+1) for x in values}

In [ ]:
stone_names = ["Quartz", "Amethyst", "Diamond", "Ruby", "Emerald", "Sapphire", "Topaz", "Opal", "Jade", "Citrine"]

In [ ]:
# Associate name with length
{name: len(name) for name in stone_names}

In [ ]:
# count vowels
{name: sum(1 for letter in name.lower() if letter in 'aeiou') for name in stone_names}

In [ ]:
# Contains 'a'?
{name: 'Yes' if 'a' in name.lower() else 'No' for name in stone_names}

In [ ]:
# Reverse names
{name: name[::-1] for name in stone_names}

Filters can also be used

In [ ]:
{s: len(s) for s in stone_names if s[0] in "AEIOU"}

In [ ]:
{name: len(name) for name in stone_names if len(name) > 5}

In [ ]:
{name: sum(1 for letter in name.lower() if letter in 'aeiou') for name in stone_names if name[0].lower() in 'aeiou'}

In [ ]:
# Only for palyndromes
words = ['opal', 'emerald', 'ruby', 'madam', 'sapphire', 'level', 'diamond']
{name: None for name in words if name.lower() == name.lower()[::-1]}

## Solved Exercises

### List Comprehensions

**Exercise**. Create an identical list from the first list using list comprehension.

In [ ]:
l = [2, 3, 4, 5, 6]
[x for x in l]

**Exercise**. Create a list from the elements of a range from 1200 to 2000 with steps of 130, using list comprehension.

In [ ]:
[x for x in range(1200, 2001, 130)]

**Exercise**. Use list comprehension to contruct a new list but add 6 to each item.

In [ ]:
l = [2, 3, 4, 5, 6]
[x + 6 for x in l]

**Exercise**. Using list comprehension, construct a list from the squares of each element in the list.

In [ ]:
l = [2, 4, 6, 8, 10, 12, 14]
[x ** 2 for x in l]

**Exercise**. Using list comprehension, construct a list from the squares of each element in the list, if the square is greater than 50.

In [ ]:
l = [2, 4, 6, 8, 10, 12, 14]
[x ** 2 for x in l if x**2 > 50]

a) Modify the solution in order to avoid to calculate the power two times

In [ ]:
[v for v in [x**2 for x in l] if v > 50]

**Exercise**. Given dictionary is consisted of vehicles and their weights in kilograms. Contruct a list of the names of vehicles with weight below 5000 kilograms. In the same list comprehension make the key names all upper case.

In [ ]:
dict={"Sedan": 1500, "SUV": 2000, "Pickup": 2500, "Minivan": 1600, 
      "Van": 2400, "Semi": 13600, "Bicycle": 7, "Motorcycle": 110}
[k.upper() for k, v in dict.items() if v < 5000]

**Exercise**. Find all of the numbers from 1–1000 that are divisible by 8

In [ ]:
[x for x in range(1, 1001) if x % 8 == 0]

**Exercise**. Find all of the numbers from 1–1000 that have a 6 in them

In [ ]:
[x for x in range(1, 1001) if '6' in str(x)]

In [ ]:
# A more elegant solution
def has_digit(n, digit):
    while n > 0:
        r = n % 10
        if r == digit:
            return True
        n = n // 10
    return False

[x for x in range(1,1001) if has_digit(x, 6)]

**Exercise**. Find all numbers from 1 to 1000 that have exactly two occurrences of the digit 4

In [ ]:
def count_digit(n, digit):
    result = 0
    while n > 0:
        r = n % 10
        if r == digit:
            result += 1
        n = n // 10
    return result

print([x for x in range(1001) if count_digit(x, 4) == 2])

**Exercise**. Use a nested comprehension to find all numbers from 1 to 200 that are not divisible by any digit from 2 to 9

In [ ]:
[n for n in range(1, 200) if all(n%d != 0 for d in range(2,10))]

**Exercise**. Use a nested comprehension to find all numbers from 1 to 200 that have exactly two non-trivial divisors

In [ ]:
[n for n in range(1, 201) if sum([1 for d in range(2,n) if n%d == 0]) == 2]

a) What you need to modify to the code to get prime numbers

In [ ]:
[n for n in range(1, 201) if sum([1 for d in range(2,n) if n%d == 0]) == 0]

**Exercise**. Remove all of the vowels in a string

In [ ]:
string = "Practice Problems to Drill List Comprehension in Your Head."
"".join([c for c in string if c.lower() not in 'aeiou'])

**Exercise**. Find all of the words in a string that are less than 5 letters (use string above)

In [ ]:
[s for s in string.split() if len(s) < 5]

**Exercise**. Use a nested list comprehension to find all of the numbers from 1–10000 that are divisible by all single digit besides 1 (2–9)

In [ ]:
[x for x in range(1, 10001) if all([x % d == 0 for d in range(2, 10)])]

**Exercise**. Create a list of all the consonants in the string “Yellow Yaks like yelling and yawning and yesturday they yodled while eating yuky yams”

In [ ]:
phrase = "Yellow Yaks like yelling and yawning and yesterday they yodled while eating yuky yams"
[c for c in phrase if c.lower() not in "aeiou"]

**Exercise**. Get the index and the value as a tuple for items in the list “hi”, 4, 8.99, ‘apple’, (‘t,b’,’n’). Result would look like (index, value), (index, value)

In [ ]:
l = ['hi', 4, 8.99, 'apple', ('t,b','n')]
[(idx, l[idx]) for idx in range(len(l))]

**Exercise**. Find the common numbers in two lists (without using a tuple or set) list_a = 1, 2, 3, 4, list_b = 2, 3, 4, 5

In [ ]:
list_a = [1, 2, 3, 4]
list_b = [2, 3, 4, 5]
[a for a in list_a if a in list_b]

**Exercise**. Given numbers = range(20), produce a list containing the word ‘even’ if a number in the numbers is even, and the word ‘odd’ if the number is odd. Result would look like ‘odd’,’odd’, ‘even’

In [ ]:
['even' if n % 2 == 0 else 'odd' for n in range(20)]

**Exercise**. Create a single string that contains the second-to-last letter of each word in text, sorted alphabetically and in lowercase. If a word is less than two letters in length, use the single character available.

In [ ]:
text = "Alice was beginning to get very tired of sitting \
by her sister on the bank, and of having nothing to do: \
once or twice she had peeped into the book her sister \
was reading, but it had no pictures or conversations in \
it, 'and what is the use of a book,' thought Alice, \
'without pictures or conversations?"

filtered_text = text.replace("'", "").replace(",", "")
selected_letters = [(l[-2] if len(l) > 1 else l).lower() for l in filtered_text.split(" ")]
"".join(sorted(selected_letters))

**Exercice**. Find the average number of characters per word in text, rounded to the nearest hundredth. This value should exclude special characters, such as quotation marks and semicolons.

In [ ]:
filtered_text = text.replace("'", "").replace(",", "")
character_count = [len(l) for l in filtered_text.split()]
round(sum(character_count) / len(character_count), 2)

**Exercise**. The following code loads a list of Marvel names downloaded from the internet

In [ ]:
with open('data/Marvel-names.txt', 'r', encoding='iso-8859-1',
                 errors='ignore') as f:
    lines = f.readlines()
lines[:10]

a) Create a list with the character names

In [ ]:
def process_line(l):
    idx1 = l.find('"')
    l = l[idx1+1:]
    idx2 = l.find('"')
    return l[:idx2].strip()

names = [process_line(l) for l in lines]
names[1:10]

b) Some characters have multiple names, separated by '/'. Modify the list so that each element becomes a list of these values. Remove empty values

In [ ]:
all_names = [[v for v in n.split("/") if len(v)>0] for n in names]
all_names = [n for n in all_names if len(n) > 0]
all_names[:10]

c) Find the heroes with the largest number of names

In [ ]:
max_cant = max((len(n) for n in all_names))
print(max_cant)
more_names = [v for v in all_names if len(v) == max_cant]
more_names[:30]

d) Remove those characters where the first name contains less than three characters

In [ ]:
selected = [m for m in all_names if len(m[0]) > 2]
selected

e) Add to each name in the list a '%' character in the begining and end

In [ ]:
[['%'+n+'%' for n in m] for m in selected]

### Dictionary comprehensions

**Exercise**. Create a dictionary from the list with same key:value pairs, such as: {"key": "key"}.

In [ ]:
lst=["NY", "FL", "CA", "VT"]
{k: k for k in lst}

**Exercise**. Create a dictionary where each number in the range from 100 to 160 with steps of 10 is the key and each item divided by 100 is the value.

In [ ]:
{v: v/100 for v in range(100, 161, 10)}

**Exercise**. Create a dictionary from the current dictionary where only the key:value pairs with value above 2000 are taken to the new dictionary.

In [ ]:
dict1={"NFLX":4950,"TREX":2400,"FIZZ":1800, "XPO":1700}
{k: v for k, v in dict1.items() if v > 2000}

**Exercise**. Use a dictionary comprehension to count the length of each word in a sentence

In [ ]:
string = "Practice Problems to Drill List Comprehension in Your Head"
{s: len(s) for s in string.split()}

**Exercise**. For all the numbers 1–1000, use a nested list/dictionary comprehension to find the highest single digit any of the numbers is divisible by

In [ ]:
{x: max([d for d in range(2, 10) if x%d == 0],default=None) for x in range(1, 1001)}

**Exercise**. Write a Python program to convert two lists into a dictionary in a way that item from list1 is the key and item from list2 is the value

In [ ]:
keys = ['Ten', 'Twenty', 'Thirty']
values = [10, 20, 30]
{keys[idx]: values[idx] for idx in range(min(len(keys), len(values)))}

**Exercise**. Initialize dictionary with default values: create a new dictionary with provided keys an default values.

In [ ]:
employees = ['Kelly', 'Emma']
defaults = {"designation": 'Developer', "salary": 8000}

{k: defaults for k in employees}

**Exercise**. Create a dictionary by extracting the keys from a given dictionary

In [ ]:
sample_dict = {
    "name": "Kelly",
    "age": 25,
    "salary": 8000,
    "city": "New york"}

# Keys to extract
keys = ["name", "salary"]

{k: v for k, v in sample_dict.items() if k in keys}

**Exercise**. Delete a list of keys from a dictionary

In [ ]:
sample_dict = {
    "name": "Kelly",
    "age": 25,
    "salary": 8000,
    "city": "New york"
}

# Keys to remove
keys = ["name", "salary"]

{k: v for k, v in sample_dict.items() if k not in keys}