# Functional Programming
Functional programming is a programming paradigm that treats computation as the evaluation of mathematical functions and avoids changing state and mutable data. In Python, functional programming can be achieved using various techniques and concepts. Here are some key concepts and features of functional programming in Python:

- Pure Functions: Pure functions are functions that return the same output for the same input and have no side effects. 

- Immutability: Functional programming favors immutability, where data structures and values are not modified after they are created.

- Higher-order Functions: In functional programming, functions are first-class citizens, which means they can be assigned to variables, passed as arguments to other functions, and returned as values from functions. 

- Lambda Functions: Lambda functions, also known as anonymous functions, are small, one-line functions that are defined without a name. 


## Python functions are first-class citizens

In Python, functions are treated as objects that can be assigned to variables, passed as arguments
to other functions, and returned as values from functions.
This means that functions are not just a means of organizing code into reusable blocks, but they're
also a powerful tool for building complex programs.

Here's an example of how you can assign a function to a variable:

In [ ]:
def square(x):
    return x ** 2

f = square

In this example, we've defined a function called square that takes one argument x and returns its square. We've then assigned this function to a variable named f. This means that we can now call f the same way that the original function:

In [ ]:
result = f(5)
print(result)

Functions can also be passed as arguments to other functions. Here's an example:

In [ ]:
def apply_func(func, x):
    return func(x)

result = apply_func(square, 5)
print(result)

Passing functions has many useful applications in python. For example, in the **map** function.

In [ ]:
numbers = [2, 3, 4, 5, 6]

def double(x):
    return x * 2

def power2(x):
    return x**2

def my_map(values, fn):
    return [fn(v) for v in values]

my_map(numbers, double)

In [ ]:
my_map(numbers, power2)

We can chain maps together, like in this example

In [ ]:
my_map(my_map(numbers, double), power2)

Function can also be returned by other functions, like in this example:

In [ ]:
def create_adder(x):
    def adder(y):
        return x + y
    return adder

In [ ]:
add5 = create_adder(5)
print(add5(3))
print(add5(12))

In [ ]:
add10 = create_adder(10)
print(add10(24))
print(add10(124))

In this example, we define a function called create_adder() that takes a single argument x. The
create_adder() function defines a new function called adder() inside of it, which takes a single
argument y and returns the sum of x and y.

The create_adder() function then returns the adder() function. When we call create_adder() and
pass it a value of 5, for example, we get back a function that adds 5 to its argument.
We can then assign the returned function to a new variable, such as add5.

When we call add5(3), it calls the adder() function that was returned by create_adder(5) and passes in 3 as the argument. This results in the value 8 being returned.
Similarly, we can call create_adder() again with a value of 10, and assign the returned function to
a new variable called add10. When we call add10(24), it calls the adder() function that was returned
by create_adder(10) and passes in 3 as the argument. This results in the value 343 being returned.

Note: add5 and add10 are functions, indistinguible from other statically created functions

In [ ]:
type(add5)

Here are some additional examples of functions returning functions in Python. Practicing with
these examples can help students master the concept.

In [ ]:
def create_divisibility_checker(divisor):
    def is_divisible(n):
        return n % divisor == 0
    
    return is_divisible

check_for_2 = create_divisibility_checker(2)
check_for_3 = create_divisibility_checker(3)
print(check_for_2(10))
print(check_for_2(7))
print(check_for_3(9))
print(check_for_3(8))

In [ ]:
def power(n):
    def inner(x):
        return x ** n
    
    return inner

cube = power(3)
print(cube(2))

In [ ]:
def contains_substring(substring):
    def inner(s):
        return substring in s
    return inner

contains_hello = contains_substring("hello")
print(contains_hello("hello world")) # Output: True

print(contains_hello("goodbye"))

## Function decorators

Decorators are a powerful pattern in Python that allows modifying or extending the behavior of functions or classes. Decorators often involve returning a function from another function.

In [ ]:
import time

def log_execution_time(func):
    def wrapper(*args, **kwargs):
        start_time = time.time()
        result = func(*args, **kwargs)
        end_time = time.time()
        execution_time = end_time - start_time
        print(f"Function '{func.__name__}' took {execution_time} seconds to execute.")
        return result
    return wrapper

In [ ]:
@log_execution_time
def sum_numbers():
    v = 0
    for i in range(100000):
        v += i
    return v

sum_numbers()  # Executes the function and logs the execution time

In [ ]:
@log_execution_time
def factorial(n):
    result = 1
    for i in range(2,n+1):
        result *= i
    return result
    
factorial(100)

## Lambda functions

Lambda functions, also known as anonymous functions, are small, one-line functions in Python that are defined without a name. They are a convenient way to create simple, inline functions without the need for a formal function definition.

Here's the general syntax of a lambda function:

**lambda** _arguments_: _expression_

Lets see some examples:

In [ ]:
add = lambda x, y: x + y

add(3, 5)

This is equivalent to the following function:

In [ ]:
def add2(x, y):
    return x + y

add2(3, 5)

Other examples:

In [ ]:
square = lambda x: x ** 2
square(4)

In [ ]:
my_max = lambda x, y: x if x > y else y
my_max(4, 8)

Now, lets get lambda in action together in frequent contexts

In [ ]:
data = [(3, 'apple'), (1, 'banana'), (2, 'cherry')]
sorted(data, key=lambda x: x[0])

In [ ]:
sorted(data, key=lambda x: -x[0])

In [ ]:
sorted(data, key=lambda x: x[1])

In [ ]:
values = [3, 6, 2, 8, 10, 45, 4, 32, 17]
list(map(lambda x: x**2, values))

In [ ]:
list(filter(lambda x: x >= 10, values))

In [ ]:
names = ['Alice', 'Bob', 'Charlie']
ages = [25, 18, 22]

list(map(lambda x: f"Name: {x[0]}, Age: {x[1]}", zip(names, ages)))

In [ ]:
students = [{'name': 'Alice', 'age': 25}, {'name': 'Bob', 'age': 18}, {'name': 'Charlie', 'age': 22}]
students.sort(key=lambda x: x['age'])
students

In [ ]:
list1 = [1, 2, 3, 4, 5]
list2 = [10, 20, 30, 40, 50]
list(map(lambda x, y: x * y, list1, list2))

## Some functional programming tools in action

**partial**: Allows you to fix a certain number of arguments of a function and generate a new function with those fixed arguments. Here's an example:

In [ ]:
from functools import partial, reduce, lru_cache

def power(base, exponent):
    return base ** exponent

square = partial(power, exponent=2)
cube = partial(power, exponent=3)

# Call the new functions
result1 = square(5)  # Equivalent to power(5, 2)
result2 = cube(3)  # Equivalent to power(3, 3)

print(result1)  
print(result2)

**reduce**

In [ ]:
values = [3, 6, 2, 8, 10, 45, 4, 32, 17]
reduce(lambda x, y: x+y, values)

In [ ]:
reduce(lambda x, y: max(x, y), values)

In [ ]:
reduce(lambda x, y: min(x, y), values)

In [ ]:
reduce(lambda x, y: x + y, [(2, 4, 6), (5, 1, 8), (0, 10)])

**lru_cache**(maxsize=128): Decorator to cache the results of a function.

In [ ]:
import time

# Without lru_cache
def fibonacci_without_cache(n):
    if n <= 1:
        return n
    else:
        return fibonacci_without_cache(n - 1) + fibonacci_without_cache(n - 2)

# With lru_cache
@lru_cache(maxsize=None)
def fibonacci_with_cache(n):
    if n <= 1:
        return n
    else:
        return fibonacci_with_cache(n - 1) + fibonacci_with_cache(n - 2)

# Calculate Fibonacci without lru_cache
start_time = time.time()
fibonacci_without_cache(30)  # Adjust the value as needed
end_time = time.time()
time_taken_without_cache = end_time - start_time

# Calculate Fibonacci with lru_cache
start_time = time.time()
fibonacci_with_cache(30)  # Adjust the value as needed
end_time = time.time()
time_taken_with_cache = end_time - start_time

# Compare time taken
print("Time taken without lru_cache: {:.6f} seconds".format(time_taken_without_cache))
print("Time taken with lru_cache: {:.6f} seconds".format(time_taken_with_cache))

## Solved exercises

**Exercise**. Create a function to add two numbers. Assign it to a variable. Call the function using the variable

In [ ]:
def adder(x, y):
    return x + y

fn = adder
fn(3, 4)

In [ ]:
adder2 = lambda x, y: x+y
adder2(3, 4)

**Exercise**. Create a function to add 10 to a number. Reuse previously created function

In [ ]:
def add10(x):
    return adder(10, x)

add10(24)

In [ ]:
add10 = lambda x: adder(10, x)
add10(24)

In [ ]:
add10 = partial(adder, y=10)
add10(24)

**Exercise**. Create a function that apply a list of functions to a given value

In [ ]:
add = lambda x, y: x + y
multiply = lambda x, y: x * y
substract = lambda x, y: x - y

In [ ]:
add10 = partial(add, 10)
double = partial(multiply, 2)
substract5 = partial(substract, y=2)

In [ ]:
def apply_fn(functions, value):
    result = value
    for fn in functions:
        result = fn(result)
    return result

In [ ]:
apply_fn([add10], 23)

In [ ]:
apply_fn([double, add10, substract5], 9)

In [ ]:
apply_fn([double, add10, substract5, str], 9)

In [ ]:
apply_fn([double, add10, substract5, str, len], 9)

In [ ]:
apply_fn([double, add10, substract5, str, len, double], 9)

**Exercise**. Similar to the previous one, but create a dictionary with the existing operations. Then, define a pipeline as a comma separated string.

In [ ]:
ops = {
    'double': double,
    'add10': add10,
    'substract5': substract5,
    'str': str,
    'len': len
}

def apply_pipeline(pipeline, value):
    result = value
    for p in pipeline.split(","):
        result = ops[p.strip()](result)
    return result
    
apply_pipeline("double,add10,substract5,str,len,double", 9)

**Exercise**. Create a function to dynamically create arithmetic operators. The operator is provided in a string parameter

In [ ]:
def create_arithmetic_function(operator):
    if operator == "+":
        return lambda x, y: x + y
    elif operator == "-":
        return lambda x, y: x - y
    elif operator == "*":
        return lambda x, y: x - y
    elif operator == "/":
        return lambda x, y: x / y
    else:
        raise ValueError("Unsupported operator")

adder = create_arithmetic_function("+")
adder(5, 3)

In [ ]:
divider = create_arithmetic_function("/")
divider(14, 7)

**Exercise**. A list contains dictionaries with name, gender, and age.

In [ ]:
people = [
    {"name": "Grace", "age": 51, "gender": "female"},
    {"name": "Alice", "age": 25, "gender": "female"},
    {"name": "Bob", "age": 32, "gender": "male"},
    {"name": "Frank", "age": 38, "gender": "male"},
    {"name": "Charlie", "age": 42, "gender": "male"},
    {"name": "David", "age": 19, "gender": "male"},
    {"name": "Eve", "age": 29, "gender": "female"},
]

a) Sort persons by name

In [ ]:
sorted(people, key=lambda x: x['name'])

b) Sort persons by age descendent

In [ ]:
sorted(people, key=lambda x: x['age'], reverse=True)

c) Sort alphabetically by the last character of the name

In [ ]:
sorted(people, key=lambda x: x['name'][-1])

d) Calculate how many are female and male

In [ ]:
import itertools as it

sorted_by_gender = sorted(people, key=lambda x: x['gender'])
[{"gender": k, "count": len(list(v))} for k, v in it.groupby(sorted_by_gender, key=lambda x : x['gender'])]

e) Get the total age for each gender

In [ ]:
[(k, sum(v['age'] for v in group)) for k, group in it.groupby(sorted_by_gender, key=lambda x : x['gender'])]

**Exercise**. The following lines of code load exchange data for EUR / USD convertion rates in a time period

In [ ]:
import csv
from datetime import datetime

def parse_float(value):
    try:
        # Attempt to parse the value as a float
        result = float(value)
        return result
    except ValueError:
        # If an error occurs, return None or any other default value
        return None
    
with open("data/Foreign_Exchange_Rates.csv", 'r') as file:
    csv_reader = csv.reader(file)
    lines = [l for l in csv_reader]
rates = [t for t in ((datetime.strptime(l[1], "%Y-%m-%d").date(), parse_float(l[3])) for l in  lines if l[0] !="") if t[1] is not None]
rates[:5]

a) Get the day where the exchange is maximum

In [ ]:
def get_rate(t):
    return t[1]

max(rates, key=get_rate)

In [ ]:
max(rates, key=lambda t: t[1])

b) Get the time interval where data is available

In [ ]:
min(rates, key=lambda t: t[0]), max(rates, key=lambda t: t[0])

c) sort all the rates in descent order

In [ ]:
sorted(rates, key=lambda x: -x[1])

d) Get the maximum rate by month in available data

In [ ]:
ordered_rates = sorted(rates, key=lambda t: t[0])
rates_by_month = [(month, list(g[1] for g in group_elements)) for month, group_elements in 
                  it.groupby(ordered_rates, key=lambda t: (t[0].month, t[0].year))]

[(month, max(values)) for month, values in rates_by_month]

**Exercise**. Using map and filter, construct a list from the squares of each element in the list, if the square is greater than 50.

In [ ]:
l = [2, 4, 6, 8, 10, 12, 14]
result = filter(lambda x: x < 50, map(lambda x: x**2, l))
list(result)

**Exercise**. Using map and filter, construct a list from the squares of numbers greather than 8

In [ ]:
l = [2, 4, 6, 8, 10, 12, 14]
result = map(lambda x: x**2, filter(lambda x: x > 8, l))
list(result)

**Exercise**. Using map and filter, find all of the numbers from 1–1000 that are divisible by 8

In [ ]:
result = filter(lambda x: x%8==0, range(1, 1001))
list(result)

**Exercise**. Using map and filter, return the count of the digit 6 for each number in the range 1-100, excluding numbers that do not contain any 6s.

In [ ]:
result = map(lambda x: x[0], filter(lambda x: x[1] > 0,  map(lambda x: (x, str(x).count('6')), range(1, 101))))
list(result)

**Exercise**. Given numbers = range(20), produce a list using map and filter containing tuples of the numbers and the word ‘even’ if a number in the numbers is even, and the word ‘odd’ if the number is odd. Result would look like ‘odd’,’odd’, ‘even’

In [ ]:
result = map(lambda x: (x, "even" if x%2==0 else "odd"), range(20))
list(result)

In [ ]:
from itertools import cycle
result = zip(range(20), cycle(["even", "odd"]))
list(result)

**Exercise**. Find the Product of a List of Numbers

In [ ]:
numbers = [2, 3, 4, 5]
reduce(lambda x, y: x * y, numbers)

**Exercise**. Using reduce, concatenate a list of tuples

In [ ]:
reduce(lambda x, y: x + y, [(2, 3, 4), (5, 6), (7, 6)])

**Exercise**. Calculate the factorial of a number

In [ ]:
def factorial(n):
    return reduce(lambda x, y: x * y, range(1, n + 1))

factorial(5)

**Exercise**. Check if all elements in a list satisfy a condition:

In [ ]:
def check_all(l, condition):
    return reduce(lambda x, y: x and condition(y), l)

check_all([10, 20, 30, 40, 50], lambda x: x > 0)

**Exercise**. Find the longest word in a list

In [ ]:
words = ["apple", "banana", "oranges", "kiwi"]
reduce(lambda x, y: x if len(x) > len(y) else y, words)

**Exercise**. Count the Frequency of Elements in a List

In [ ]:
numbers = [5, 2, 4, 2, 1, 3, 2, 3, 5]

reduce(lambda x, y: {**x, y: x.get(y, 0) + 1}, numbers, {})

**Exercise**. Find the Intersection of Multiple Sets:

In [ ]:
sets = [{1, 2, 3}, {2, 3, 4}, {3, 4, 5}]

reduce(lambda x, y: x.intersection(y), sets)

Use reduce to apply a chain of functions
- Note: use the same functions we used before in apply_fn([double, add10, substract5, str, len, double], 9)

In [ ]:
reduce(lambda x, fn: fn(x), [double, add10, substract5, str, len, double], 9)