# Processing real data using functions

In [ ]:
import csv

In [ ]:
with open("data/pop_year.csv") as f:
    reader = csv.reader(f)
    raw_data = [r for r in reader]

In [ ]:
raw_data

In [ ]:
# Remove the first row, and convert other rows to numbers
data = []
for row in raw_data[1:]:
    data.append([int(row[0]), int(row[1]), int(row[2]), int(row[3])])
data

In [ ]:
# Extract all columns to different lists
all_years = []
all_total = []
all_male = []
all_female = []
for d in data:
    year, total, male, female = d
    all_years.append(year)
    all_total.append(total)
    all_male.append(male)
    all_female.append(female)
print(all_years)

In [ ]:
# Verify that total is correctly calculated
for idx in range(len(all_years)):
    if all_male[idx] + all_female[idx] != all_total[idx]:
        print("ERROR in line", idx)
        break
else:
    print("No errors")

In [ ]:
# Largest total population
def max_value(l):
    result = 0
    for v in l:
        if v > result:
            result = v
    return result

max_value(all_total)

In [ ]:
# Largest male population
max_value(all_male)

By the way, we can use this 'max_value' function for any data type that has the '>' operator defined

In [ ]:
max_value([3.3, 5.6, 8.0, 4.5])

We could also use it for strings, but we need to make a modification

In [ ]:
max_value(['aaa', 'bbb', 'abdc'])

In [ ]:
def max_value(l, default_value=0):
    result = default_value
    for v in l:
        if v > result:
            result = v
    return result

In [ ]:
max_value(['aaa', 'bbb', 'abdc'], '')

In [ ]:
# Other 'smarter' modification
def max_value(l):
    if len(l) == 0:
        return None
    result = l[0]
    for v in l[1:]:
        if v > result:
            result = v
    return result

In [ ]:
max_value(['aaa', 'bbb', 'abdc'])

In [ ]:
import sys
# Smallest male population

def min_value(l):
    result = sys.maxsize
    for v in l:
        if v < result:
            result = v
    return result

min_value(all_male)

In [ ]:
# Year with largest total population
def index_of_max(l):
    if len(l) == 0:
        return None
    result = 0
    for idx in range(1, len(l)):
        if l[idx] > l[result]:
            result = idx
    return result

index_of_max(all_total)

In [ ]:
all_total[32], all_years[32]

In [ ]:
# Maximum difference between two male populations
all_male_dif = []
for idx in range(1, len(all_years)):
    all_male_dif.append(abs(all_male[idx-1] - all_male[idx]))
max_value(all_male_dif)

In [ ]:
# Which are the years of the maximum difference in total population?
all_total_dif = []
for idx in range(1, len(all_years)):
    all_total_dif.append(abs(all_total[idx-1] - all_total[idx]))
    
max_dif_idx = index_of_max(all_total_dif)

max_period = (all_years[max_dif_idx], all_years[max_dif_idx+1])
max_period

In [ ]:
# What is the largest difference between the male and female population
max_dif = 0
max_year = None
for idx in range(0, len(all_years)):
    current_dif = abs(all_male[idx] - all_female[idx])
    if current_dif > max_dif:
        max_dif = current_dif
        max_year = all_years[idx]
max_dif, max_year